.container {
  display: flex;
}

.container .sidebar {
  height: fit-content;
  width: 200px;
  margin-left: 40px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 10px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .sidebar > p {
  color: grey;
  font-weight: 500;
  margin: 20px 0;
  border-bottom: 1px solid grey;
  width: 100%;
  text-align: center;
}

.container .sidebar ul {
  list-style: none;
  width: calc(100% - 20px);
}

.container .sidebar li {
  margin-bottom: 10px;
}

.container .sidebar li:last-child {
  margin-top: 15px;
}

.container .sidebar li a {
  font-weight: 500;
}

.container .sidebar li a svg {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.container .sidebar li button {
  color: var(--color-red);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.container .sidebar li button span {
  margin-right: 5px;
}

.container main {
  width: calc(100% - 240px);
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .sidebar,
  .container main {
    width: 100% !important;
    margin-bottom: 50px;
  }
}
