.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 50px;
  position: sticky;
  top: 10px;
  background-color: var(--color-blue);
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  height: 65px;
}

.header div {
  display: flex;
  align-items: center;
}

.header div a {
  margin-left: 25px;
  display: inline-block;
  font-size: 1.1rem;
}

.header > a {
  background-color: white;
  width: 70px;
  color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;
  border-radius: 5px;
  transition: all 0.3s;
}

.header > a:hover {
  background: none;
  border: 2px solid white;
  color: white;
}

.header > a span {
  margin-right: 5px;
}

.content {
  min-height: calc(100vh - 220px);
}

.footer {
  margin: 100px 0 10px;
  background-color: var(--color-blue);
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  height: 215px;
}

.footer div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.footer section h4 {
  font-size: 1.75rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer section ul {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
