.container {
  width: calc(100% - 240px);
}

.container h6 {
  font-size: 2rem;
  color: var(--color-blue);
  font-weight: 600;
}

.container > p {
  margin: 10px 0 100px;
  color: grey;
  font-weight: 500;
}

.createdAt {
  background-color: var(--color-light-blue);
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
}

.createdAt p {
  font-weight: 600;
  color: grey;
}

.createdAt span {
  color: var(--color-blue);
  margin-right: 5px;
}
