.container {
  display: flex;
}

.container main {
  width: calc(100% - 240px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  gap: 50px;
}

.card {
  border: 2px solid var(--color-blue);
  padding: 20px;
  border-radius: 10px;
}

.noProduct {
  background-color: var(--color-light-red);
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 5px 15px;
  border-radius: 8px;
  color: var(--color-red);
  font-size: 1.75rem;
  font-weight: 500;
  height: fit-content;
}

@media (max-width: 1000px) {
  .container main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .container {
    flex-direction: column;
  }

  .container main {
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 475px) {
  .container main {
    grid-template-columns: 1fr;
  }
}
